<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
</head>
<body>
<h1><a href="/">main</a></h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>썸네일</th>
        <th style="width:600px;">소개</th>
        <th>ISBN</th>
        <th>저자</th>
        <th>출판사</th>
        <th>출판일</th>
        <th>정가</th>
        <th>판매가</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info : ${infoList}">
        <td th:text="${info.no}"></td>
        <td th:text="${info.title}"></td>
        <td><img th:src="${info.thumbnail}"></td>
        <td th:text="${info.contents}"></td>
        <td th:text="${info.isbn}"></td>
        <td th:text="${info.authors}"></td>
        <td th:text="${info.publisher}"></td>
        <td th:text="${info.datetime}"></td>
        <td th:text="${info.price}"></td>
        <td th:text="${info.salePrice}"></td>
    </tr>
    </tbody>
</table>
</table>
</body>
</html>