<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <style>
        li {
            list-style-type: none;
        }
        body {
            text-align: center;
        }
        .table {
            margin: 0px auto;
        }
        th, td {
            border: 1px solid #bfbfbf;
        }
        a:visited {
            color:black;
            text-decoration: none;
        }
        a:link {
            color: black;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }

    </style>
</head>
<body>
<h1><a href="/">main</a></h1>
<h2 th:text="${infoList.search}+'의 검색 결과입니다.'"></h2>
<div th:if="${session.authUser != null}" class="aside" style="float:left;">
    <p>검색 목록</p>
    <ul th:each="search : ${infoList.searchList}">
        <li class="search" th:text="${search}"></li>
    </ul>
</div>
<div style="float:left;">
    <ol th:each="sr : ${infoList.searchRankList}">
        <li th:text="${srStat.count}+'위 '+${sr.search}"></li>
    </ol>
</div>
<table class="table" style="float:left; margin: 0px 0px 0px 250px;">
    <thead>
    <tr>
        <th style="width:50px;">번호</th>
        <th style="width:50px;">썸네일</th>
        <th>제목</th>
        <th>상세 페이지</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info : ${infoList.lst}">
        <td th:text="${infoStat.count}"></td>
        <td><img th:src="${info.thumbnail}"></td>
        <td th:text="${info.title}"></td>
        <td><a th:href="@{/title(title=${info.title})}">상세 페이지</a></td>
        <td th:text="${info.hit}"></td>
    </tr>

    </tbody>
</table>
<div style="float: left; margin: 0px 0px 0px 300px;">
    <div style="margin: 0px 0px 0px 10px; display: inline-block" th:each="num : ${#numbers.sequence(1, infoList.totalPage)}">
        <a th:href="@{/search(search=${infoList.search}, page=${num})}" th:if="${infoList.page} == ${num}" th:text="${num}" style="font-weight: bold;"></a>
        <a th:href="@{/search(search=${infoList.search}, page=${num})}" th:unless="${infoList.page} == ${num}" th:text="${num}"></a>
    </div>
</div>
</body>
</html>